[Desktop Entry]
Name=OpenVPN Indicator
GenericName=Start OpenVPN Indicator for Unity
Exec=/usr/bin/python3 <path>/indicator.py
Icon=remmina
Terminal=false
Type=Application
Categories=VPN,Network
